name: CI
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 10 * * *"
permissions:
  contents: read
jobs:
  test:
    name: Test on Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["2.5", "2.6", "2.7", "3.0", "3.1", "3.2", "3.3"]
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          bundler: ${{ matrix.ruby == '2.5' && '2.2.28' || 'latest' }}

      - run: bundle exec rbs collection install

      - run: bundle exec rake test

  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write # To report GitHub Actions status checks
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          ruby-version: "3"
          bundler-cache: true

      - run: bundle exec rubocop --debug

      - uses: super-linter/super-linter@502f4fe48a81a392756e173e39a861f8c8efe056 # v8.3.0
        env:
          VALIDATE_ALL_CODEBASE: "true"
          VALIDATE_RUBY: "false"
          VALIDATE_JSCPD: "false"
          VALIDATE_NATURAL_LANGUAGE: "false"
          VALIDATE_YAML_PRETTIER: "false"
          VALIDATE_TRIVY: "false"
          VALIDATE_BIOME_FORMAT: "false"
          VALIDATE_BIOME_LINT: "false"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
