name: CI
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 10 * * *"
permissions:
  contents: read
jobs:
  test:
    name: Test on Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["2.5", "2.6", "2.7", "3.0", "3.1", "3.2", "3.3"]
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - uses: ruby/setup-ruby@6797dcbb9a1889fd411d07e8aba7aded53fb8b48 # v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          bundler: ${{ matrix.ruby == '2.5' && '2.2.28' || 'latest' }}

      - run: bundle exec rbs collection install

      - run: bundle exec rake test

  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write # To report GitHub Actions status checks
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: ruby/setup-ruby@6797dcbb9a1889fd411d07e8aba7aded53fb8b48 # v1
        with:
          ruby-version: "3"
          bundler-cache: true

      - run: bundle exec rubocop --debug

      - uses: super-linter/super-linter@042027286d413b053e621bbf9b02dcf72905eebf # v8
        env:
          VALIDATE_RUBY: "false"
          VALIDATE_JSCPD: "false"
          VALIDATE_NATURAL_LANGUAGE: "false"
          VALIDATE_YAML_PRETTIER: "false"
          VALIDATE_TRIVY: "false"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
