name: Release
run-name: Release v${{ inputs.version }} with apply=${{ inputs.apply }}
on:
  workflow_dispatch:
    inputs:
      version:
        description: version. The next release version (without prefix v)
        required: true
      apply:
        description: apply. Specify whether the actual release should be performed or not
        type: boolean
permissions:
  contents: read
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.app-token.outputs.token }}
          persist-credentials: true

      - uses: rubygems/configure-rubygems-credentials@bc6dd217f8a4f919d6835fcfefd470ef821f5c44 # v1.0.0

      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: "3"
          bundler-cache: true

      - name: Update `StrongCSV::VERSION`
        run: |
          cat <<RUBY > lib/strong_csv/version.rb
          # frozen_string_literal: true

          class StrongCSV
            VERSION = "${INPUTS_VERSION}"
          end
          RUBY
        env:
          INPUTS_VERSION: ${{ inputs.version }}

      - run: git diff

      - uses: yykamei/actions-git-push@c9bcec4304fde1cf89d4abdf23280713e66c034d # main
        with:
          commit-message: Bump to ${{ inputs.version }}
        if: inputs.apply

      - run: gem build strong_csv.gemspec

      - run: gem push ./*.gem
        if: inputs.apply

      - uses: yykamei/actions-release-actions@451f5f47bc1e9cdad23d644cefd5413fe557b94a # main
        with:
          token: ${{ steps.app-token.outputs.token }}
          tag: v${{ inputs.version }}
          overwrite-major-minor: "false"
          apply: ${{ inputs.apply }}
